<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="toprope" type="Toprope.Infrastructure.Configuration.ConfigurationFile, Toprope">
      <section name="localization" type="Toprope.Infrastructure.Configuration.LocalizationConfiguration, Toprope" />
    </sectionGroup>
  </configSections>
    
    <appSettings>
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />

        <add key="Mail:DeliveryMethod" value="SpecifiedPickupDirectory" />
        <add key="Mail:FromAddress" value="noreply@toprope.me" />
        <add key="Mail:LogMode" value="Weekly" />
        <add key="Mail:LogDirectory" value="C:\Windows\Temp\MailLogs" />
        <add key="Mail:PickupDirectory" value="C:\inetpub\mailroot\Pickup"/>
        <add key="Mail:Host" value="127.0.0.1" />
        <add key="Mail:Port" value="25"/>
        <add key="Mail:Timeout" value="6000" />
    </appSettings>

    <connectionStrings>
        <add name="Repository" connectionString="Data Source=.;Initial Catalog=Toprope;User Id=tr;Password=xnS2mKudyN;" />
    </connectionStrings>
    
    <toprope>
        <localization>
            <languages>
                <add culture="en-US" shortcut="en" default="true" />
            </languages>
        </localization>
    </toprope>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="500" path="/error/500" responseMode="ExecuteURL" />
      <error statusCode="404" path="/error/404" responseMode="ExecuteURL" />
      <error statusCode="403" path="/error/403" responseMode="ExecuteURL" />
    </httpErrors>
    <staticContent>
        <remove fileExtension=".svg" />
        <remove fileExtension=".manifest" />
      
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
        
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
      
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <rewrite>
        <rules>
            <rule name="CanonicalHostNameRule1" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                    <add input="{HTTP_HOST}" pattern="^toprope\.me$" negate="true" />
                    <add input="{HTTP_HOST}" pattern="^www\.toprope\.me$" />
                </conditions>
                <action type="Redirect" url="http://toprope.me/{R:1}" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>