<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="Repository" connectionString="Data Source=.;Initial Catalog=Toprope;User Id=tr;Password=xnS2mKudyN;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
